@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
    color: #000000;
    background-color: #F6F5EA;
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.7rem;
    margin: 1.3rem 0;
}

h3 {
    font-size: 1.4rem;
    margin: .5rem 0;
}

p {
    margin: 1rem 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1.1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    margin: 1.5rem;
    background-color: #174794;
    color: #ffffff;
    transition: background .5s ease-out;
}

.btn:hover {
    background-color: #0e2f51;
}

a.link {
    display: inline-block;
    padding: 1rem 1.8rem;
    border: 1px #174794 solid; 
    color: #174794;
    font-weight: bold;
    margin: 1.25rem 0;
    transition: all .5s ease-out;
}

a.link:hover {
    color: #ffffff;
    background-color: #174794;
}

.phone-number {
    height: 2rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.phone-number p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.1rem;
    position: fixed;
    width: 100%;
    max-width: 1100px;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    background: #F6F5EA;
}

.navbar.cus-nav {
    background: #F6F5EA;
}

.nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.nav-ul li {
    padding: 1rem 0;
}

.nav-ul li:hover {
    border-bottom: 1px solid #333333;
}

.nav-ul.show {
    display: flex;
}

.nav-logo {
    width: 125%;
}

/* Headline */
.headline .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.headline .btn {
    margin-top: 2rem;
}

.headline a {
    font-size: 1.3rem;
}

.headline h1 {
    font-size: 1.5rem;
}

/* Packages */
.title {
    margin: 2rem auto;
}

.packages img {
    max-width: 720px;
}

a.see-more {
    margin: 0 0 3rem;
}

/* CTA */
.cta {
    background-color: #9B9E4F;
    color: #ffffff;
}

.cta .container {
    padding-bottom: 3.5rem;
}

.cta-btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #9B9E4F;
    transition: background .5s ease-out;
}

.cta-btn:hover {
    background-color: #cdcdcd;
    color: #9B9E4F;
}

.contact .container {
    margin: 100px auto;
}

.contact h1 {
    margin: 0;
}

.contact-number {
    margin-bottom: 50px;
}

.book .field {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.book .field input,
.book .field textarea {
    width: 100%;
    border-color: #E2E2DC;
    padding: 1rem;
    border-style: solid;
}

.form-btn {
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.book .utilities {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: start;
}

.book .utilities * {
    margin: .5rem 0;
}

.book .utilities label {
    font-size: 1.2rem;
}

/* Main amenities */
.amenities-title .container {
    margin-top: 100px;
}

.index .container {
    margin-top: 0;
}


.main-amenities p {
    padding: 0 0.5rem;
}

.main-amenities h1,
.main-amenities h2 {
    margin: .5rem auto;
}

.book-here {
    margin-bottom: 2rem;
}

.book-here .btn {
    margin: auto;
}

.main-amenities .container > div {
    margin: 1rem auto 3rem;
}

.main-packages .container {
    margin-top: 100px;
}

.main-packages .entrance {
    font-size: 1.35rem;
}

.food-menu {
    box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.5);
    background: rgb(176,191,122);
    background: linear-gradient(0deg, rgba(176,191,122,1) 0%, rgba(199,217,173,1) 100%);
    margin: 5rem auto;
    text-align: left;
    max-width: 600px;
}

.food-menu h2 {
    text-align: center;
}

.food-list {
    padding: 1rem;
}

.main-food {
    display: flex;
}

.main-food .foods {
    width: 100%;
}

.foods {
    margin: 1rem;
}

.rule-card {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.5);
    padding: 1.3rem;
    margin: 1rem auto;
    font-family: 'Roboto', Arial, sans-serif;
    border-radius: 15px;
    max-width: 600px;
}

.rule-card p {
    margin-bottom: 3rem;
}

.rule-card ul {
    text-align: left;
}

.rule-card li {
    margin: 1.2rem auto;
}

/* Gallery */
.main-gallery .container {
    margin-top: 100px;
}
.gallery img {
    height: auto;
    max-width: 100%;
}

.gallery-item {
    height: auto;
    margin: 0.5rem;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.note .text {
    background-color: #ffffff;
    margin: .5rem;
    padding: 1rem;
}

/* Careers */
.careers .container {
    margin-top: 100px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7rem auto 5rem;
}

.job-list { 
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
.footer {
    text-align: left;
}

.footer .container {
    display: grid;
    /* grid-template-column: 1fr 1fr 1fr; */
    align-items: center; 
    gap: 2rem;
    font-size: 1.2rem;
}

.footer .sns,
.footer .address,
.footer .navi {
    display: flex;
    flex-direction: column;
}

.footer .navi li {
    margin: .45rem 0;
}

.fb,
.footer h2 a{
    color: #174794;
}

/* Tablet and up */
@media(min-width: 768px) {
    /* Headline */
    .headline .container {
        height: 100%;
    }
    .book .field {
        width: 80%;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* Laptop and up */
@media(min-width: 1024px) {
    /* Navbar */
    .toggle-button {
        display: none;
    }
    .navbar {
        height: 80px;
        flex-wrap: nowrap;
        padding: 3rem 1.1rem;
    }
    .nav-ul {
        display: flex;
        flex-direction: row;
        width: auto;
        font-size: 1.1rem;
        margin: 0;
    }
    .nav-ul li {
        margin-left: 1.5rem;
    }
    .headline h1 {
        margin: 2rem 0;
    }
    .title {
        margin: 5rem auto 6.5rem;
        width: 80%;
    }
    .main-packages .title {
        margin: 4rem auto 3rem;
    }
    /* .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    } */
    /* .box {
        height: 570px;
    } */
    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.2rem;
        margin: 1.5rem auto 5rem;
    }
    .footer h2 {
        margin: 0;
    }
    .book .field {
        width: 50%;
    }
    .main-amenities .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }
    .main-amenities .container > div {
        margin: auto;
        height: 530px;
    }
    .headline h1 {
        width: 75%;
        font-size: 2.7rem;
    }

    .amenities-book .container {
        margin-bottom: 4rem;
    }
}

/* Desktop and up */
@media(min-width: 1600px) {
    body {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 3.5rem;
        margin: 1.5rem 0;
    }
    
    h2 {
        font-size: 2rem;
        margin: 1.3rem 0;
    }
    
    h3 {
        font-size: 1.7rem;
        margin: .5rem 0;
    }
    .headline h1 {
        width: 75%;
        font-size: 3rem;
    }
    .headline .btn {
        font-size: 1.5rem;
    }
    .cta {
        margin: 5rem auto;
    }

    .cta .container {
        padding: 2.5rem 0 3.5rem;
    }
}